.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 2% 0% 2%;
    max-height: 50px;
    
    box-sizing: border-box;
    box-shadow: 5px 10px rgba(0,0,0,0.6);

    h1 { 
        // color: black;
        color: rgba(0,0,0,0.6);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
    }

    .bumper-logosign{
        text-decoration: none;
    }
}

.login-button{
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 150px;
    font-family: ArquitectaHeavy;
    font-size: 20px;
}
