.appointment-item {
	border: 0.8px solid lightgrey;
	display: flex;
	justify-content: space-between;
	margin: 8px;
	height: 80px;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	img {
		margin: 10px;
		width: 60px;
		height: 60px;
	}

	.dates {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 10px;
		background-color: #447b94;
		font-weight: 300;
		color: white;
		width: 13%;
		text-align: center;
	}
	.vehicle-info {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 10px;
		span {
			color: #004a61;
		}
	}

	.a-service {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.aa-service {
			text-align: center;
		}
	}
	.done-button {
		padding-top: 30px;
		background-color: #00c6ab;
		color: white;
		width: 15%;
		border-radius: 3px;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
	}
	.delv-button {
		display: flex;
		flex-direction: column;
		background-color: #b06084;
		border-radius: 6px;
		text-align: center;
		padding-top: 20px;
		color: white;
		width: 15%;
		cursor: pointer;
	}
}

.apps-nav {
	display: flex;
	justify-content: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	.apps-btn {
		padding: 10px;
		margin: 15px;
		cursor: pointer;
		width: 20%;
		text-align: center;
		border-radius: 8px;
	}
	.active {
		background: #4280c8;
		box-shadow: 0px 5px 7px 0px rgba(76, 120, 166, 1);
	}
	.inactive {
		background: #b0a8b9;
	}
}
