
.notification-item {
	border-bottom: 0.8px solid lightgrey;
	display: flex;
	margin: 8px auto;
	width: 390px;
	height: 80px;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;

	img {
		margin: 10px;
		width: 60px;
		height: 60px;
	}
	.dates {
		display: flex;
		flex-direction: column;
		padding: 10px;
		.date {
			color: tomato;
			font-weight: 600;
		}
	}
	.confirm-decline {
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		width: 55%;
		.n-buttons {
			display: flex;
			justify-content: space-evenly;
			span {
				padding: 5px;
				margin: 0;
				width: 40%;
				text-align: center;
				color: white;
				border-radius: 10px;
				font-size: 13px;
				background: #e35d5b;
				cursor: pointer;
			}
			.accept {
				background: #4cb8c4;
			}
		}
	}
	.n-service {
		align-self: center;
		color: #004A61;
		font-size: 20px;
	}
}
